@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Questrial&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #fcefdc; 
    position: relative;
    z-index: 0;
    
  }
  
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/fundo_tela.png') no-repeat center center;
    background-size: cover;
    opacity: 0.5; 
    z-index: -1;
  }
  html, body {
    height: 100vh;
    font-family: "Questrial", sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.forms {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 70px;
    text-align: center;
    margin-bottom: 20px;
}

hr {
    border: 1px solid black;
    width: 450px;
    margin-top: 10px;
}

.login {
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

.inps {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input:focus {
    outline: none;
}

.input-container {
    position: relative;
    width: 350px;
    margin-bottom: 20px;
}

.input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
}

.input-container input {
    width: 100%;
    height: 60px;
    padding: 10px 10px 10px 55px;
    border: none;
    background-color: #D12D31;
    border-radius: 10px;
    font-size: 18px;
    color: white;
}

.input-container input::placeholder {
    color: #fff;
}

.submit-container {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.btn-entrar {
    display: flex;
    width: 350px; 
    height: 50px; 
    line-height: 60px;
    text-align: center;
    background-color: #D12D31;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 24px;
    font-family: "Questrial", sans-serif;
    justify-content: center;
    align-items: center;
}

.submit-container input:hover {
    background-color: #b0252b;
    cursor: pointer;
}

.esqueceu {
    color: #b0252b;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: start;
    margin-bottom: 15px;
    position: relative;
    bottom: 5px;
}

.cadastre {
    width: 100%;
    display: flex;
    justify-content: start;
    text-decoration: none;
    margin-top: 15px;
}

.cadastro {
    text-decoration: none;
    color: #b0252b;
}

.imagem {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}

img {
    position: relative;
    bottom: 140px;
    width: 650px;
    height: 650px;
    object-fit: contain;
}


input:checked {
    border: none;
    outline: none;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .forms, .imagem {
        width: 90%;
        height: auto;
    }

    img {
        width: 100%;
        height: auto;
    }
}
